body{
background-image: url(images/CSC_0250_1.jpg);
background-size: none;	
}



#test{
	transition:0.5s all;
	background-color: #312b33;
	font-size: 16px;
	color: #ffffff;
	padding: 10px;
	padding-top:30px;
	margin-top: 200px;
	border: 4px solid #000000;
	border-radius: 10px;
	opacity:#;
	box-shadow:10px 10px 40px #000000;
	height:#;
	width: 200px;
	position: absolute;
}

#test:hover{
	transform: translateX(10px);
	background-color: red;
	opacity: 0.9;
}

#test1{
	transition:0.5s all;
	text-align: center;
	background-image:url(images/Знак_некронов.png); 
	background-size: 10%;
	font-size: larger;
	color: #ffffff;
	padding: 10px;
	margin-top: 5px;
	border: 4px solid #000000;
	border-radius: 10px;
	opacity:#;
	height:22px;
	width: 200px;
	position: relative;
	top: 200px;
}

#test1:hover{
	box-shadow:10px 10px 40px #000000;
}

a{
	text-decoration: none;
	color: #ffffff;
}